<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_layout">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>

<div layout:fragment="body">
<div class="container w-50" th:object="${article}">
    <h6 th:utext="#{article.brand}"></h6>
    <div class="md-form input-group  input-group-lg mb-3 ">
        <div class="input-group-prepend col-6">
            <span class="input-group-text md-addon" th:text="#{article.identifier}"></span>
        </div>
        <div class="col-6" th:text="*{id}"></div>
    </div>
    <hr>
    <div class="md-form input-group  input-group-lg mb-3 ">
        <div class="input-group-prepend col-6">
            <span class="input-group-text md-addon" th:text="#{article.title}">TITLE:</span>
        </div>
        <div class="col-6" th:text="*{title}"></div>

    </div>
    <hr>
    <div class="md-form input-group input-group-lg">
        <div class="input-group-prepend col-6">
            <span class="input-group-text md-addon">Category Title:</span>
        </div>
        <div class="col-6" th:text="*{category.cateTitle}"></div>
    </div>
    <hr>
    <div class="md-form input-group input-group-lg">
        <div class="input-group-prepend col-6">
            <span class="input-group-text md-addon" th:text="#{article.author}">AUTHOR:</span>
        </div>
        <div class="col-6" th:text="*{author}"></div>
    </div>
    <hr>
    <div class="md-form input-group input-group-lg">
        <div class="input-group-prepend col-6">
            <span class="input-group-text md-addon" th:text="#{article.description}">DESCRIPTION</span>
        </div>
        <div class="col-6" th:text="*{des}"></div>
    </div>
    <hr>
    <img class="justify-content-center" th:src="'img/'+*{img}" height="300px" width="300px">

</div>
<a href="/viewAll" style="margin-left: 600px;"><button type="button" class="btn btn-info" th:text="#{article.go_back}"></button></a>
</div>
<!--<div th:replace="fragment/footer ::footer"></div>-->
</body>
</html>