<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_layout">
<head>
    <meta charset="UTF-8">

    <title>Category</title>
</head>
<body>
<div layout:fragment="body">

<a href="/addCategory">
    <button type="button" class="btn btn-info">ADD</button>
</a>
<table class="table table-striped">

    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td scope="row" th:text="${category.getCateId()}" ></td>
        <td th:text="${category.getCateTitle()}"></td>
        <td><a th:href="@{/updatecate(id=${category.cateId})}">
            <button class="btn tbn-primary">Update</button>
        </a><a th:href="@{/deletecate(id=${category.cateId})}">
            <button class="btn tbn-primary">Delete</button>
        </a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>